body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 900;
}
h3 {
    text-align: center;
}

.intro {
    margin-right: 150px;
    margin-left: 150px;
}

.webapp {
    display: grid;
    grid-template-columns: 1fr 2fr;  /* TODO: adjust widths */
    grid-template-areas:
	"settings output";
    /* TODO: margin?
    margin-right: 150px;
    margin-left: 150px;     */
}

/*  Assign the class settings to the grid area settings. etc. */
.settings {
  grid-area: settings;
}
.output {
  grid-area: output;
}


fieldset {
    border: none;
}

select {
  margin: 4px;
}

.selects_form {
    /* Silly style for now, just until layout pinned down */
  border-style: dashed;
  border-color: green;
}

legend {
    font-weight: bold;
}

.variablename {
    font-weight: bold;
}

.valuename {
    margin-left: 1em;
}

#moresettings {
  margin: auto;
  max-width: 800px;   /* I have this matching div.top */
}

.indent {
  margin-left: 1em;
}

.select_label {
  text-align: left;
}

.select_label_var {
  grid-area: select_label_var;
}

.select_var {
  grid-area: select_var;
}

.select_label_antigen {
  grid-area: select_label_antigen;
}

.select_antigen {
  grid-area: select_antigen;
}

#displaybox {
    /* Silly style for now, just until layout pinned down */
  border-style: dotted;
  border-color: blue;
}

div.top {
  display: grid;
  grid-template-columns: 20em 1fr 20em;
  grid-template-areas:
    "drawlabel notemean notemean"
    "histogram histogram nothing"
    "histogram histogram sensitivity";
  padding: 1em;
  margin: auto;
  max-width: 800px;
}

.drawlabel {
  grid-area: drawlabel;
  font-weight: bold;
  font-size: large;
}

.notemean {
  grid-area: notemean;
}

.histogram {
  grid-area: histogram;
}

.sensitivity {
  grid-area: sensitivity;
  padding-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .selects_form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "select_var"
      "select_antigen";
  }
  .select_label {
    text-align: left;
  }
}

