body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 900;
}
h3 {
    text-align: center;
}

.intro {
    margin-right: 150px;
    margin-left: 150px;
}

.webapp {
    display: grid;
    grid-template-columns: fit-content(300px) 1fr;  /* TODO: adjust widths */
    grid-template-areas:
	"settings output";
    /* TODO: margin?
    margin-right: 150px;
    margin-left: 150px;     */
}

/*  Assign the class settings to the grid area settings. etc. */
.settings {
  grid-area: settings;
}
.output {
  grid-area: output;
}


fieldset {
    border: none;
}

select {
  margin: 4px;
}

legend {
    font-weight: bold;
}

.variablename {
    font-weight: bold;
}

.valuename {
    margin-left: 1em;
}

.conclusiontext {
    font-weight: bold;
    text-align: center;
}

.lodisred {
    color: red;
}

.pvalue {
    color: grey;
    font-weight: normal;
}

#pyramid_container {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: -11%;
}

#pyramid {
    aspect-ratio : 1;
    margin: auto;
}

.savebuttons {
    display: grid;
    grid-template-columns: 1fr fit-content(300px) fit-content(300px);
    grid-template-areas:
	"none download download";
}

.download {
    font-size: 0.75em;
    padding: 2px 6px;
    margin: 4px 6px;
    background-color: #0099ff;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

#moresettings {
  margin: auto;
  max-width: 800px;   /* I have this matching div.top */
}

.indent {
  margin-left: 1em;
}

.select_label {
  text-align: left;
}

.select_label_var {
  grid-area: select_label_var;
}

.select_var {
  grid-area: select_var;
}

.select_label_antigen {
  grid-area: select_label_antigen;
}

.select_antigen {
  grid-area: select_antigen;
}

.drawlabel {
  grid-area: drawlabel;
  font-weight: bold;
  font-size: large;
}

.notemean {
  grid-area: notemean;
}

.histogram {
  grid-area: histogram;
}

.sensitivity {
  grid-area: sensitivity;
  padding-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .selects_form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "select_var"
      "select_antigen";
  }
  .select_label {
    text-align: left;
  }
}

